* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  background: #23424a;
  color: white;
  padding: 3.125rem;
}

.header {
  width: 62.5%;
  margin-bottom: 2.5rem;
}

.header h1 {
  font-size: 48px;
  font-weight: 800;
}

.header p {
  font-size: 21px;
  font-weight: 300;
}

.button {
  background: #38cfd9;
  color: black;
  padding: 1rem;
  width: fit-content;
  border-radius: 25px;
}

.button p {
  margin: 0 auto;
}
