*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Montserrat";
  font-size: 2.4rem;
}

img {
  max-width: 100%;
}

a {
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

.row {
  display: flex;
}

/* Header/Nav */
header {
  background-color: #2e323f;
}

/* Hero Styles */
.hero {
  background-color: #3b4050;
  padding: 15rem 0;
}

.hero__content {
  align-items: flex-end;
  justify-content: space-between;
}

.hero__title {
  margin: 0;
  width: 50%;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 9rem;
  line-height: 1em;
}

.hero__title--accent {
  color: #a59678;
}

.hero__text {
  width: 45%;
  color: #fff;
}

.hero__text p {
  line-height: 1.75em;
  margin-bottom: 1.5rem;
}

.hero__text a {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 2.4rem;
}

.btn {
  padding: 0.25em 1.5em;
  background-color: #a59678;
  border-radius: 100px;
}

/* Section One */
.section-one {
  background-color: #f1f1f1;
  padding: 10rem 0;
}

.section-one__content {
  text-align: center;
  gap: 3rem;
}

.section-one__title {
  margin: 0;
  color: #a59678;
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
}

.section-one__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
}

/* Section Two */
.section-two {
  padding: 10rem 0;
}

.section-two__content {
  justify-content: space-between;
}

.section-two__article {
  width: 55%;
}

.section-two__article h2 {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 3.6rem;

  color: #a59678;
}

.section-two__article p {
  font-family: "Montserrat", sans-serif;
  font-size: 2.1rem;
}

.section-two__article img {
  margin: 3rem 0;
}

.section-two__cards {
  width: 32.5%;
}

.section-two__card {
  padding: 1.6em 2em;
  background-color: #3b4050;
  color: #fff;
  text-align: center;
}

.section-two__card + .section-two__card {
  margin-top: 1.6rem;
}

.section-two__card h3 {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
}

.section-two__card p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
}

/* Footer */

footer {
  background-color: #3b4050;
  padding: 5rem 0;
}

footer h2 {
  margin: 0;
  text-align: center;
  color: #fff;
  font-family: "Oswald";
  font-size: 6.4rem;
}

.footer__content {
  justify-content: space-between;
}

.footer__about {
  width: 50%;
}

.footer__links {
  width: 15%;
}
